<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/forgotpasswordjs.css">
</head>

<body class="bdy">
    <form>
        <div class="All">
            <div class="pack">
                <div class="login"><span>FORGOT PASSWORD</span></div>
                <div class="user">
                    <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit,</p>
                    <p> Mauris mattis,tortor sit amet tempor vehicular.</p>
                </div>
                <div class="password">
                    <p>Email</p>
                    <input type="password" id="tbp" required>
                </div>
                <div class="login1">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="button" type="submit" onclick="init()">CONTINUE</button>
                </div>
            </div>
        </div>
    </form>
</body>
<script>
    function init() {
        location.replace("forgotpasswordfieldjs.html");
    }
    console.log("move to login1 page");
</script>
</html>