<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password-Page</title>
    <link rel="stylesheet" type="text/css" href="../css/forgotpasswordfieldjs.css">
    <script>
        function init()
        {
            console.log("onclick");
            // document.getElementsByClassName("popup").style.display = "block";
            document.getElementById("apopup").style.display = "block";
        }
    </script>
</head>

<body class="bdy">
    <form>
        <div class="All">
            <div class="pack">
                <div class="login"><span>FORGOT PASSWORD</span></div>
                <div class="user">
                    <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit,</p>
                    <p> Mauris mattis,tortor sit amet tempor vehicular.</p>
                </div>
                <div class="password">
                    <p>Email</p>
                    <input type="password" id="tbp">
                    <img src="request-icons-07.png" width="18" height="12" class="image" alt="aa"><span style="color: red">This Field Requried</span>
                    <img src="request-icons-07.png" width="18" height="12" class="image" alt="bb"><span style="color: red">This Email is not register with us</span>
                </div>
                <div class="login1">
                    <button class="button" onclick="init();">CONTINUE</button>
                </div>
            </div>

            <div class="popup" id="apopup" style="padding: 5%">
                    <p>FORGET PASSWORD</p>
                    <P>The the link is activated with in 24 hours</P>            
            </div>
        </div>
        
    </form>
</body>

</html>