*{
    margin: 0;
    padding: 0;
    
}

.head{
    background-color: aquamarine;
    height: 10%;
}

.bdy{
    background-color: coral;
}

.flux-container{
    display: flex;
    background-color: darkgoldenrod;
    padding: 1.8%;
    margin: 0%;
    width: 2%;
    height: 25%;
    flex-direction: row;

}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 5px 0;
    /*transition: 0.5s;*/
  }

  .flux-con{
    display: flex;
    background-color: blue;
    padding: 1.8%;
    margin: 0%;
    width: 2%;
    height: 25%;
    flex-direction: row;
    align-items: flex-end;
    float:right;
  }

  