*{
    margin: 5px;
    padding: 5px;
    align-self: center;
}
.pack{
    border-radius: 5%;
    background-color:#FFFFFF;
    width: 90%;
    height: 90%;
    top: 20%;
    position: relative;
    margin:25.25px 25.25px 10.25px 50.25px;
    align-self: center;
}

.login{
    padding: 100.75px 629.36px 40.3px 250.41px;
    text-decoration-line: underline;
}
.user{
    /* margin: 100.75px 629.36px 40.3px 292.41px;   */
 padding: 0px 0px 0px 250px;
}
.password{
    padding: 0px 0px 0px 250px;   
}
.remember-me{
    float: left;
    padding: 0px 0px 0px 250px;
}
#tb{
    width: 60%;
}
#tbp{
    width: 60%;
}
.button{
    background-color: #32BDD2;
    color: white;
    padding: 14px 20px ;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}
.bdy{
    background-color:#F6F8F9;
}
.login1{
    padding: 0px 0px 0px 250px;   
}