body{
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family: 'roboto';
    font-weight: 500;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 5px;
    margin-bottom: .1%;
    font-family: 'roboto';
    font-weight: 500;
}

.right{
    display: flex;
    align-items: flex-end;
}
.image{
    border-radius: 50px;
    /* margin: 0px 5px 0px 0px; */
}
.name{
 padding-bottom: 4px;
 font-family: 'roboto';
 font-weight: 500;
 /* margin: 0px 10px 0px 0px; */
}
.imagedrop{
    padding-bottom: 6px;
    margin: 0px 20px 0px 0px;
}
.menuimg{
    margin-left: 2%;
}

.bar{
    display: flex;
    background-color: #f1f1f1;
    padding: 5px;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    margin-left: 4.5%;
}
.head{
    padding: 5px;
}
.next{
    padding: 10px;
    background-color: #f1f1f1;
}
.content{
    background-color: white;
    display: flex;
    /* margin-left: 3%; */
    /* flex-direction: row; */
}
/* .box1{
    width: 8%;
    background-color: gray;
} */
.box2{
    padding: 10px;
    width: 100%;
    background-color: white;
}
/* .box2 span{
    font-size: 1.2vw;
} */
/* .content{
    background-color: white;
    display: flex;
    flex-direction: row;
} */

.box3{
    display: flex;
    margin-left: 2%;
    background-color: darkorchid;
    justify-content: space-between;
    font-size: 1.2vw;
}
.box4{
    display: flex;
    align-items: center;
}
.box5{
    font-size: 1.2vw;
    
}
.box6{
    font-size: 1.5vw;
   
}
.box7{
    font-size: 1.2vw;
   
}
.circle{
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: aliceblue;
    display:inline-block;
    padding: 10px;
    top: 71%;
}
.circle1{
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: aliceblue;
    display:inline-block;
    padding: 10px;
    top: 99%;
}
.circle2{
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    background-color: aliceblue;
    display:inline-block;
    padding: 10px;
    top: 145%;
}