body{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: #f6f8f9;
}
.flex-head{
    /* display: flex; */
    /* flex-direction: row; */
    background: #fff;
    width: 50px;
    height: 50px;
    /* align-items: center; */
    /* justify-content: space-between; */
    float: left;
    padding: 0px 0px 0px 10px;

}
.flex-profile{
    /* display: flex; */
    /* flex-direction: row; */
    background: #fff;
    /* align-items: center; */
    /* justify-content: flex-end; */
    height: 50px;
    padding: 0px 10px 0px 0px;
    float: right;
}
.flex-profile image{
    border-radius: 50%;
}
.flex-box{ 
    /* display: flex;  */
    background-color:#FFFFF;  
     /* justify-content: space-between;  */
     margin:auto;
     width: 94%;
    box-shadow: 1px 1px 3px #8888;
}
  
.flex-box1{
    /* display: flex; */
    background-color:#FFFFFF;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* padding:5px; */
    margin:  9px 0px 0px 20px;
   float: left;
    border: 2px black;
}
.flex-box2{
    /* display: flex; */
    height: 25px; 
    /* background-color:#FFFFFF; */
     /* flex-wrap: wrap; */
     /* justify-content: center;  */
     /* align-items: center;  */
     border-radius: 10px;
     width: 60%;
     border: 2px solid greenyellow;
     margin: 70px 0px 0px 200px;
     float:center;
}
.flex-box3{
    /* display: flex; */
    /* background-color: blue(235, 224, 224); */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    border-radius: 30px;
    background-color:#32BDD2; 
    padding:3px;
    border: 2px solid greenyellow;
    margin: -25px 0px 0px 1125px;
}
.filter-box{ 
    /* display: flex; */
    background-color:#FFFFFF(238, 232, 232);
    /* justify-content: flex-start; */
    /* align-items: center; */
    width: 550px; 
    /* margin:auto; */
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    /* border: 2px solid greenyellow; */
    margin: 12px 0px 0px 20px;
} 
.content-box1{
    width: 94%;
    box-shadow: 1px 1px 1px #FFFFFF;
    margin: 20px 5px 25px 43px;
    background-color:#FFFFFF(236, 229, 229);
    /* border: 2px solid greenyellow; */
    box-shadow: 1px 1px 3px #8888;
}
.content-box2{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -95px 0px 0px 700px;
}
.content-box3{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -35px 0px 0px 1100px;
}
.content-box4{
    width: 94%;
    box-shadow: 1px 1px 1px #FFFFFF;
    margin: 36px 5px 25px 43px;
    background-color:#FFFFFF(236, 229, 229);
    /* border: 2px solid greenyellow; */
    box-shadow: 1px 1px 3px #8888;
}
.content-box5{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -95px 0px 0px 700px;
}
.content-box6{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -35px 0px 0px 1100px;

}
.content-box7{
    width: 94%;
    box-shadow: 1px 1px 1px #FFFFFF;
    margin: 37px 5px 25px 43px;
    background-color:#FFFFFF(236, 229, 229);
    /* border: 2px solid greenyellow; */
    box-shadow: 1px 1px 3px #8888;
}
.content-box8{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -95px 0px 0px 700px;
}
.content-box9{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -35px 0px 0px 1100px;
}
.content-box10{
    width: 94%;
    box-shadow: 1px 1px 1px #FFFFFF;
    margin: 37px 5px 25px 43px;
    background-color:#FFFFFF(236, 229, 229);
    /* border: 2px solid greenyellow; */
    box-shadow: 1px 1px 3px #8888;
}
.content-box11{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -95px 0px 0px 700px;
}
.content-box12{
    width: 94%;
    /* box-shadow: 1px 1px 1px #FFFFFF; */
    margin: -35px 0px 0px 1100px;
}