*{
    margin: 0%;
    padding: 0%;
    background-color: #f1f1f1;

    /* background-color: white; */
    /* font-family: 'roboto'; */
    /* font-weight: 500; */
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 8%;
    margin-bottom: .8%;
    font-family: 'roboto';
    font-weight: 500;
}

.right{
    display: flex;
    align-items: flex-end;
    background-color: white;
}
.image{
    border-radius: 50px;
    background-color: white;
    margin: 0px 5px 0px 0px;
}
.name{
 padding-bottom: 4px;
 background-color: white;
 font-family: 'roboto';
 font-weight: 500;
 margin: 0px 5px 0px 0px;
}
.imagedrop{
    padding-bottom: 6px;
    background-color: white;
    margin: 0px 50px 0px 0px;
}
.menuimg{
    margin-left: 2%;
    background-color: white;
}


.main{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 89%;
    margin: auto;
    background-color: white;
}

.left{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    width: 8%;
    height: 100%;
    background-color: white;

}
.left p{
    
    margin: auto;
    margin-top: 80%;
    margin-bottom: 38%;
    transform: rotate(-90deg);
    /* background-color: chartreuse; */
    font-family: 'roboto';
    font-weight: 500;
}
.left img{
    margin: auto;
    width: 80%;
    height: 77%; 
    
}
.main-box{
    display: flex;
    padding: .8%;
    flex-direction: column;
    width: 180%;
    height: 98%;
    background-color: #f1f1f1;
}

.flex-box{
    display: flex;
    /* float: right; */
    /* margin: 30px 20px 0px 0px; */
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 99%;
    height: 35%;
    margin: .3%;
    background-color: gray;
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 99%;
    height: 28%;
    margin: .3%;
    background-color: white;
}
.box3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 99%;
    height: 28%;
    margin: .3%;
    background-color: white;
}
.box4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 99%;
    height: 28%;
    margin: .3%;
    background-color: white;
}
.box5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 99%;
    height: 28%;
    margin: .3%;
    background-color: white;
}

.box6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 99%;
    height: 28%;
    margin: .3%;
    background-color: white;
    margin-bottom: 4%;
}

.button{
    display: flex;
}


.login{
    /* text-decoration-line: underline; */
}
.button{
    margin: 0px 140px 30px 1020px;
    float: right;
    width: 5%;
    display: flex;
    /* background-color: blue(235, 224, 224); */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    border-radius: 60px;
    background-color:#32BDD2; 
    padding:3px;
    margin: none;
}


