body{
    margin: 0%;
    padding: 0%;
    background-color: #f1f1f1;

    /* background-color: white; */
    /* font-family: 'roboto'; */
    /* font-weight: 500; */
}

header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 8%;
    margin-bottom: .8%;
    font-family: 'roboto';
    font-weight: 500;
}

.right{
    display: flex;
    align-items: flex-end;
    background-color: white;
}
.image{
    border-radius: 50px;
    background-color: white;
    margin: 0px 5px 0px 0px;
}
.name{
 padding-bottom: 4px;
 background-color: white;
 font-family: 'roboto';
 font-weight: 500;
 margin: 0px 5px 0px 0px;
}
.imagedrop{
    padding-bottom: 6px;
    background-color: white;
    margin: 0px 50px 0px 0px;
}
.menuimg{
    margin-left: 2%;
    background-color: white;
}


.main{
    display: flex;
    flex-direction: row;
    width: 96%;
    /* height: 100%; */
    margin: auto;
    background-color: white;
    /* box-shadow: 1px solid #000000; */
}

.left{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    width: 8%;
    height: 100%;
    background-color: white;

}
.left p{
    
    margin: auto;
    margin-top: 80%;
    margin-bottom: 38%;
    transform: rotate(-90deg);
    /* background-color: chartreuse; */
    font-family: 'roboto';
    font-weight: 500;
}
.left img{
    margin: auto;
    width: 80%;
    height: 77%; 
    
}

.container{
    margin-left: 4%;
    margin-top: 4%;
}

.box{
    width: 400px;
    height: 90px;
    background-color: white;
    /* margin-left: 2%; */
    border: 1px solid black;
    border-radius: 4%;
    margin-bottom: 5%;
}

.button{
    /* margin: 0px 0px 30px 1020px; */
    float: right;
    background-color: #32BDD2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 8%;
    /* margin-bottom: 50%; */
}